In [1]:
import json
import pandas as pd

from helpers import load_140_485_by_FY, load_vb_dates

In [2]:
df_140_485 = load_140_485_by_FY()
df_vb_dates = load_vb_dates()

In [4]:
df = pd.read_csv('./data/nums_140_485_full.csv')

In [5]:
df

,Country,Cat,SubCat,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2019 (True),Total
0,World,Total,Total Petitions,"57,034","79,644","84,624","74,423","71,602","87,014","102,902","147,567","139,374","137,501","148,415","148,415","1,130,100"
1,World,Total,Approved,"48,375","70,405","75,144","67,493","65,160","80,132","95,660","135,796","126,586","124,673","115,458","141,062","1,004,882"
2,World,Total,Denied,"8,043","8,532","8,801","6,416","5,854","6,034","6,095","8,008","9,369","9,678","6,018","7,353","82,848"
3,World,Total,"Pending, Other1",616,707,679,514,588,848,"1,147","3,763","3,419","3,150","26,939",0,"42,370"
4,World,EB1,Total Petitions,"17,238","17,599","17,109","17,609","20,265","22,854","24,752","28,719","32,064","28,489","24,170","24,170","250,868"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,NaN,NaN,NaN,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,NaN,NaN
107,NaN,NaN,NaN,"2,127","2,771","2,432","2,707","3,253","3,821","4,317","4,640","4,975","4,525","4,060",NaN,NaN
108,NaN,NaN,cp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN